<mat-card class="example-card p-4 max-w-[20.5rem]">
  <!-- Header -->
  <mat-card-header>
    <mat-card-title>{{ projectName || "" }}</mat-card-title>
  </mat-card-header>

  <!-- Cotent -->
  <mat-card-content>
    <p>This is a sample project for my portfolio.</p>
  </mat-card-content>

  <mat-card-actions class="justify-center">
    <button mat-flat-button color="primary">Basic</button>
  </mat-card-actions>

  <!-- Footer -->
  <mat-card-footer class="border-t-2 border-grey pt-2">
    <div class="flex flex-wrap justify-center">
      <div class="tag me-2 mb-1">Angular</div>
      <div class="tag me-2 mb-1">Typescript</div>
    </div>
  </mat-card-footer>
</mat-card>
