<div class="container w-4/5">
    <div class="text-center border mb-5 shadow rounded">
        <div class="text-4xl font-bold my-4">Contact</div>
        <p>I can be reached at the following email: <b>juvern0621&#64;hotmail.com</b></p>
        <p>Feel free to contact me for any opportunities on the following platforms:</p>
    </div>

    <div class="shadow-lg rounded-lg relative">
        <!-- LinkedIn Link -->
        <a href="https://www.linkedin.com/in/jun-yong-khor-7547a3296" target="_blank" class="flex justify-center items-center gap-4 p-4 hover:bg-gray-100">
            <img src="assets/resume-content/linkedin.png" width="64" height="64" alt="LinkedIn" class="rounded-full flex-shrink-0">
            <div class="text-2xl font-bold">LinkedIn</div>
        </a>
    
        <!-- GitHub Link -->
        <a href="https://github.com/JuvernK" target="_blank" class="flex justify-center items-center gap-4 p-4 hover:bg-gray-100">
            <img src="assets/resume-content/github.png" width="64" height="64" alt="Github" class="rounded-full flex-shrink-0">
            <div class="text-2xl font-bold">GitHub</div>
        </a>

        <div class="absolute bottom-4 right-5">
            The icon is obtained from <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
    </div>
</div>