::ng-deep .p-accordion {
    max-width: 50%;
    margin: 0 auto; 
    /* color: white; */
  }

  /* Changing the accordion header's text color */
::ng-deep .p-accordion-header {
    color: #007bff; /* Change the header text color to blue */
    font-weight: bold; /* Make the text bold (optional) */
    background-color: #f0f0f0; /* Change the background color (optional) */
  }

::ng-deep .p-accordion-tab {
    background-color: #675050; /* Change background color of the tab */
    border: 1px solid #ddd; /* Add a border around the tab */
    border-radius: 5px; /* Optional: Add rounded corners */
    margin-bottom: 10px; /* Add some space between tabs */
  }