<div class="container text-center mx-auto">
    <button (click)="DownloadResume()" class="btn btn-primary mb-5 shadow border mt-4">Download PDF Resume</button>

    <p-accordion [activeIndex]="0" class="mx-5/7">
        <p-accordionTab [header]="tab.title" *ngFor="let tab of resumeContent">
            <p class="m-0">
                {{ tab.content }}
            </p>

            <!-- If there are images, display them -->
        <div *ngIf="tab.image && tab.image.length > 0" class="w-80% justify-center gap-4 mt-4">
            <img *ngFor="let image of tab.image" [src]="image" alt="Certification Image" class="shadow-lg rounded-lg">
        </div>

        </p-accordionTab>
    </p-accordion>
</div>