<!-- TODO: Make navigation bar responsive -->

<nav class="block justify-between bg-gray-900 text-white">
  <div class="px-5 xl:px-12 py-6 flex w-full items-center border-b-2 shadow-lg">
    <ul class="flex px-4 mx-auto font-semibold font-heading space-x-12">
      <li>
        <a class="menu-item" routerLink="/home" routerLinkActive="underline"
          >Home</a
        >
      </li>
      <li>
        <a
          class="menu-item"
          routerLink="/portfolio"
          routerLinkActive="underline"
          >Portfolio</a
        >
      </li>
      <li>
        <a class="menu-item" routerLink="/resume" routerLinkActive="underline"
          >Resume</a
        >
      </li>
      <li>
        <a class="menu-item" routerLink="/contact" routerLinkActive="underline"
          >Contact Us</a
        >
      </li>
    </ul>
  </div>
</nav>
