<div class="container mx-auto">
  <div class="flex flex-wrap gap-4">
    <!-- About Me Section -->
    <div class="flex-1 shadow-lg border border-zinc-300 p-4 m-2">
      <div class="text-center">
        <div class="text-2xl font-bold mb-4">About Me</div>
        <img
          src="../assets/avatar/crayonShinchan.jpeg"
          alt="profile picture"
          width="256"
          height="256"
          class="mx-auto rounded-sm border border-zinc-300 shadow-lg mb-4"
        />
        <div class="text-center p-2">
          I'm a Master's student in computer science, powered by the 4C's: Code, Coffee, Cooking, and Creativity. <br><br>
          I brew coffee by day and break bugs by night. When I'm not coding, I'm either whipping up something delicious or creating random things — Why not?  <br>
          Life's simple: code, sip, cook, repeat.

        </div>
      </div>
    </div>

    <!-- Featured Project Section -->
    <div class="flex-1 shadow-lg border border-zinc-300 p-4 m-2">
      <div class="text-center">
        <div class="text-xl font-bold mb-2">Featured Project</div>
        <div class="text-lg">{{ featuredProjects.name }}</div>
        <carousel>
          <div *ngFor="let image of featuredProjects.images">
            <slide>
              <img [src]="image" alt="image" class="w-full" />
            </slide>
          </div>
        </carousel>
        <div class="mt-2">{{ featuredProjects.summary }}</div>
        <div>Visit the Portfolio section for more!</div>
      </div>
    </div>
  </div>
</div>
