<div class="container mx-auto min-h-1/2">
  <div class="flex gap-3 m-4 justify-center">
    <!-- About Me -->
    <div class="basis-1/3 border border-zinc shadow-lg">
      <div class="p-2">
        <h1 class="text-xl font-bold text-center mb-4">About Me</h1>
        <img
          src="../assets/avatar/crayonShinchan.jpeg"
          alt="profile picture"
          width="158"
          height="128"
          class="mx-auto rounded-sm border border-zinc shadow-lg mb-4"
        />
        <p class="text-center p-2">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem
          veniam perferendis unde corrupti error voluptatem, temporibus numquam
          eligendi, eius sapiente aut porro natus, recusandae earum voluptatibus
          nam maiores illum. Nostrum.
        </p>
      </div>
    </div>

    <!-- Feature Project -->
    <div class="basis-1/3 border border-zinc shadow-lg">
      <div class="p-2 text-center">
        <h1>Feature Project</h1>
        <h2>{{ featuredProjects.name }}</h2>

        <p class="mt-2">{{ featuredProjects.summary }}</p>
        <p>Visit the Portfolio section to learn more!</p>
      </div>
    </div>
  </div>
</div>
